body {
  font-family: Arial, sans-serif;
  background-color: #d5973b; ; /* Cambia el color a tu gusto */
}

header {
  background-color: #ee6f3c; /* Cambia el color a tu gusto */
  text-align: center;
  padding: 20px;
}


/* Estilos para el encabezado */
h1 {
    text-align: center;
    color: #ece7e7; /* Cambia el color a tu gusto */
  }
  
  /* Estilos para la navegación */
  nav {
    background-color: #f2f0f0; /* Cambia el color a tu gusto */
    text-align: center;
  }
  
  nav ul {
    padding: 0;
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin: 0 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000; /* Cambia el color a tu gusto */
  }
  
  /* Estilos para la tabla */
  .tabla-pizza {
    margin: 20px;
  }
  
  .tabla-pizza table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tabla-pizza th, .tabla-pizza td {
    padding: 10px;
    text-align: center;
  }
  
  .texto-blanco {
    color: #0d0d0d; /* Cambia el color a tu gusto */
  }
  
  .imagen-tabla {
    max-width: 100px; /* Ajusta el tamaño máximo de la imagen */
    height: auto;
  }
  